:root {
    --bg-color-main-menu: #5c95ff;
    --bg-color-left-side: #009990;
    --bg-color-main-alt: #4b61c9;
    --bg-color-main-dark: #392d92;
    --color-lighter: #ffffff;
    --color-skill-name: #8b87af;
    --color-skill-gray: #ececec;
    --burger-top: 138px;
    --burger-position: "sticky";
    --time-transition: .3s;
    --element-radius: 10px;


}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #efd09e88;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #9aff83;
    text-decoration: underline;
}

ul.menu-items {
    margin-block: 0;
    margin-left: 0;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    border: 0.5vh solid white;
    border-radius: 20px;
    overflow: hidden;
}

.wrap-conteiner {
    /* padding: 0% 1%; */
    padding-bottom: 10%;
    width: 90%;
    margin: 0 auto;
}

.left-side {
    background-color: #009990;
    color: #ffffff;
    width: 35%;
    border-right: 0.5vh solid white;
}

.left-side .full-name,
.left-side .specialisation {
    display: none;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;

}

.image {
    background-image: url('../img/img.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-sizing: border-box;
    width: 90%;
    padding-top: 90%;
    margin: 5% auto 15%;
}

.title {
    text-align: center;
    padding-bottom: 1%;
    font-size: 190%;
}

.left-side .title {
    font-size: clamp(24px, 18.9474px + 1.5789vi, 30px);
}

.title.contact {
    margin: 0;
    font-weight: normal;
}

.line-left {
    background: #ffffff;
    height: 3px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
}

@media screen and (max-width: 700px) {
    .line-left {
        width: 95%;
    }

}

.box-contact,
.box-education,
.box-software,
.box-sertificats,
.box-sertificats,
.box-language {
    display: flex;
    flex-direction: row;
    /* padding: 0% 3% 2%; */
    flex-wrap: wrap;
}



.box-software {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box-software p {
    display: block;
    margin: 0px;
    padding: 0px 2%;
}

/* .contact-left-wrap {
    font-size: 150%;
} */

.name-contact,
.date-education,
.date-get-sertificate,
.name-language {
    white-space: nowrap;
    /* width:33%; */
    text-align: end;
    color: #d9d9d9;
    font-size: clamp(14px, 1.4px + 1.8vi, 23px);
}

.name-language {
    white-space: nowrap;
}

.wrap-conteiner.contact-left-wrap {
    /* padding-right: 5%; */
}

.box-contact,
.box-education,
.box-sertificats,
.box-language {
    width: 100%;
    gap: 10px 6px;
}

@media screen and (max-width: 500px) {

    .box-contact,
    .box-education,
    .box-sertificats,
    .box-language {
        width: auto;
        max-width: 100%;
        padding: 0px 5px;
    }

}

.box-contact>*,
.left-side-naming {
    width: 38%;
    align-self: baseline;
}

.dascription-contact,
.left-side-description {
    width: 59%;
}

/* .hh{
    font-size: 70%;
} */

.box-education,
.box-sertificats {
    flex-wrap: nowrap;
    align-items: baseline;
}

.dascription-contact,
.description-education,
.name-sertificate,
.description-language {
    /* padding-left: 4%; */
    font-size: clamp(12px, -2px + 2vi, 22px);
}

/* .box-contact-email--fontsize{
    font-size: calc(12px + (20 - 14) * (100vw - 700px) / (1200 - 700));
} */

.box-language {
    /* flex-wrap: nowrap; */
    width: 100%;
}

.box-language>* {
    width: 37%;
    align-self: baseline;
}

/* .name-language,
.description-language {
    width: 40%;
} */
.description-education,
.name-sertificate {
    padding-top: calc(1.1% + (-2 - 1.1) * (100vw - 700px) / (1200 - 700));
}

.languages-left-wrap {
    padding: 0;
}

/*! RIGHT SIDE */

.right-side {
    width: 64%;
    color: #009990;
    margin: 0 auto;
}

.full-name {
    width: fit-content;
    /* height: 50px; */
    /* color: #009990; */
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5% 0% 3%;
    margin: 0 auto;
    font-size: 240%;
}

.specialisation {
    width: fit-content;
    /* height: 50px; */
    padding: 0px 0px 2%;
    margin: 0 auto;
    font-size: 150%;
}

@media screen and (max-width: 700px) {
    .full-name {
        font-size: clamp(30px, 22.4211px + 2.3684vi, 39px);
    }

    .specialisation {
        font-size: clamp(18px, 12.9474px + 1.5789vi, 24px);
    }


}

.main-menu {
    background: #5c95ff;
    padding: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 3%;

}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(10px, 0px + 1vi, 12px);
    justify-content: space-evenly;
    align-items: center;
    gap: 0px 5px;
    padding: 0;
    /* margin-bottom: 5%; */
}

.menu-item {
    display: block;
    margin: 2% 0%;
    text-transform: uppercase;
    text-align: center;
}


/* background: #75ff56; */
/* background: #5C95FF; */

@media screen and (max-width: 1000px) {
    .main-menu {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .menu-items {
        /* display: none; */
    }

    .menu-item {
        margin: 1% 0%;
    }
}

.right-title {
    /* text-decoration: underline; */
    margin: 0 0 0 5%;
}

.text-right {
    color: #000000;
    backdrop-filter: contrast(1.5);
    padding: 2% 3% 2% 3%;
}

.portfolio-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:15px;
    justify-content: space-between;

}

/* .text-right h3{
    color: var(--bg-color-main-dark);
} */

.about-description-right.text-right p {
    word-wrap: break-word;
    /* old name */
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: break-spaces;
}

.skills-description-right>ul {
    padding-left: 30%;
}

/* skills */

.skills-list__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
    padding: 20px 0px;
}

.skills-list__item {
    position: relative;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-list-item__img svg {
    width: 50px;
    aspect-ratio: 1;
    fill: var(--bg-color-main-menu);
    opacity: 0.8;
    transition: fill var(--time-transition);

}

.skills-list__item:hover .skills-list-item__img svg {
    fill: var(--bg-color-main-alt);
    transition: fill var(--time-transition);
}

.skills-list-item__img img {
    width: 50px;
    aspect-ratio: 1;
}

.skills__name {
    font-weight: 700;
    opacity: 1;
    color: var(--bg-color-main-alt);
}

.tooltip:before {
    content: attr(data-content);
    position: absolute;
    top: calc(100% - 16px);
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    padding: 16px;
    border-radius: 4px;
    background: var(--bg-color-main-dark);
    color: var(--color-lighter);
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    z-index: 2;
    transition: all var(--time-transition) ease-out;
}

.tooltip:after {
    content: "";
    position: absolute;
    top: calc(100% + 16px);
    left: 50%;
    transform: translateY(-50%) rotate(90deg);
    border: 8px solid var(--bg-color-main-dark);
    border-color: rgba(0, 0, 0, 0) var(--bg-color-main-dark) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: 0;
    transition: all var(--time-transition) ease-out;
}

.tooltip::before,
.tooltip::after {
    visibility: hidden;
}

.tooltip:hover::after {
    top: calc(100% - 8px);
    transform: translate(-50%, calc(100% - 16px)) rotate(90deg);
}

.tooltip:hover::before {
    top: calc(100% - 16px);
    transform: translate(-50%, calc(100% - 22px));
}

.tooltip:hover::before,
.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

/* skills end */


/* portfolio */

.portfolio-block h2,
.portfolio-block h3,
.portfolio-block h4{
    margin: 2% 0;
    padding: 0;
}
.portfolio-block h2{
    margin: 2% 0 2% 5%;
}

@media screen and (max-width: 700px) {
    .portfolio-block .right-title{
        margin: 0;
    }
  
}

.portfolio-item {
    position: relative;
    max-width: 320px;
    background: var(--color-skill-gray);
    border-radius: var(--element-radius);
    overflow: hidden;
    padding: 10px;

}

.portfolio-item__foto {
    border-radius: var(--element-radius);
    overflow: hidden;
    height: 200px;
    background-color: var(--color-lighter);
}

.portfolio-item__foto img {
    transform: scale(1);
    transition: transform var(--time-transition);

}

.portfolio-item:hover .portfolio-item__foto img {
    transform: scale(1.05);
    transition: transform calc( var(--time-transition) + 0.5s);

}


.portfolio-item__curtain {
    display: none;
    position: absolute;
}

.technology-image {

    fill: var(--bg-color-main-menu);
    opacity: .8;

}

/* portfolio end */


.text-right a {
    color: #392d92;
    font-weight: 500;
}

.text-right a:hover {
    color: #5c95ff;
    text-decoration: underline;
}

.border-deco {
    width: 100%;
    height: 2px;
    margin: 2% 0% 0%;
    background: #5c95ff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.border-deco.down {
    margin: 0% 0% 4%;
}

.footer {
    background: var(--bg-color-main-alt);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    width: 100%;
    font-size: 140%;
    /* height: 50px; */
}

@media screen and (max-width: 700px) {
    .footer {
        font-size: clamp(18px, 13.7895px + 1.3158vi, 23px);
    }

}

.trade-mark,
.git-hub-link {
    margin: 0;
    padding: 0;
    /* height: 20px; */
}

.link-rssc {
    background-image: url("../img/svg/pers-logo.svg");
    width: 73px;
    /* height: 26px; */
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1;
}

/* ! MEDIA 700px */
@media (max-width:700px) {
    .link-rssc {
        width: clamp(55px, 39.8421px + 4.7368vi, 73px);
    }


    .wrap {
        flex-direction: column;
        align-items: center;
    }

    .wrap-conteiner.contact-left-wrap {
        padding-right: 0%;
    }

    .left-side,
    .right-side {
        max-width: 100%;
        flex: 1;
        width: auto;
        border-right: 0px;
    }

    .left-side {
        padding: 0px 5px;
        padding-bottom: 5%;
    }

    .image {
        background-size: cover;
        width: 75%;
        padding-top: 75%;
        margin-bottom: 3%;
    }

    .wrap-conteiner.education,
    .wrap-conteiner.sertificats-left-wrap {
        width: 100%;
    }

    .full-name,
    .specialisation {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        margin: -1px !important;
        border: 0 !important;
        padding: 0 !important;
        white-space: nowrap !important;
        -webkit-clip-path: inset(100%) !important;
        clip-path: inset(100%) !important;
        clip: rect(0 0 0 0) !important;
        overflow: hidden !important;
    }

    ul.menu {
        display: none;
    }

    .left-side .full-name,
    .left-side .specialisation {
        display: block;
        color: #ffffff;
    }

    .box-contact,
    .box-education,
    .box-sertificats,
    .box-sertificats,
    .box-language {
        /* flex-wrap: nowrap; */
    }


    .box-software {
        width: 80%;
        margin: 0 auto;
    }

    .box-language {
        width: 90%;
        margin: 0 auto;
    }

    .box-language>* {
        width: 44%;

    }

    .name-contact,
    .date-education,
    .date-get-sertificate,
    .name-language {
        font-size: clamp(18px, 15.4737px + 0.7895vi, 21px);
    }

    .dascription-contact,
    .description-education,
    .name-sertificate,
    .description-language {
        font-size: calc(17px + (20.8 - 17) * (100vw - 320px) / (700 - 320));
    }

    .wrap-conteiner.languages-left-wrap {
        /* width: 45%; */
    }

    .contact-left-wrap,
    .languages-left-wrap {
        margin: 0 auto;
        /* margin-left: 17vw; */
    }

    .description-education,
    .name-sertificate {
        padding-top: calc(2.1% + (-8 - 2.1) * (100vw - 320px) / (700 - 320));
    }

    /* .languages-left-wrap,  */
    .wrap-conteiner {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto;
    }

    .name-language {

        width: 40%;
    }

    .description-language {
        /* flex-basis: content; */
        flex-basis: content;
        /* width: 120px; */
    }

    /* .box-language>* {
        /* flex-basis: content; */
    /* } */

    */ .box-contact {
        /* justify-content: center; */
    }

    /* .left-side .specialisation,
    .left-side .full-name {
        padding: 0px 5px;
    } */
    .left-side .full-name {
        padding-bottom: 2%;
    }

    .left-side .specialisation {
        text-align: center;
        padding-bottom: 5%;
    }

    .right-side {
        padding-top: 5%;
    }

    .right-title {
        margin: 0 0 0 0%;
        text-align: center;
    }

    .footer {
        padding: 3% 0% 3% 0;
        margin: 0;
        justify-content: space-around;
        align-items: center;
    }
}


/*burger begin*/
@media screen and (max-width: 1000px) {

    .lock {
        overflow: hidden;
    }

    .menu-inner {
        position: fixed;
        top: 0px;
        right: -130%;
        transition: right 1s;
        width: 100%;
        height: 100vh;
        z-index: 4;
        background-color: var(--bg-color-left-side);
        padding-right: 65px;
        overflow-y: scroll;
        color: var(--color-lighter);
        will-change: transform;
        /* Добавьте will-change */

    }

    .menu-items {
        width: 100%;
        /* height: 100%; */
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: end;
        padding-top: 80px;
        flex-wrap: nowrap;
    }

    .menu-inner__active {
        right: 0%;
        transition: right 1s;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--color-main-whiter) var(--color-dark);
        color: var(--color-lighter);
        will-change: transform;
        /* Добавьте will-change */
    }



    .burger-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        padding: clamp(3px, -1.6667px + 0.6667vi, 5px);
        margin-right: 5px;
        width: 35px;
        height: 35px;
        position: relative;
        /*для label бургера*/
        z-index: 4;
        position: var(--burger-position);
        top: calc(var(--burger-top) + 3px);
        transition: top 1s;
        /* border:1px solid var(--color-lighter); */
        background-color: var(--bg-color-main-menu);
        /* outline: 1px solid black; */
        /* outline-offset: 12px; */
        /* -moz-outline-radius:10px ; */
        border-radius: 5px;
    }

    /* .burger-block:has(.check-menu:checked) { */
    .burger-block--position {
        position: fixed !important;
        top: 20px;
        transition: top 1s;
    }

    .burger-inner {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .label-burger {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 6;
    }

    .burger-icon {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        z-index: 5;
    }

    .burger-icon .burger__icon-stripe {
        visibility: visible;
        opacity: 1;
        top: 50%;
        transform: scale(1) translate(0px, -50%);
        transition: all 0.7s;
    }

    .burger-icon::after,
    .burger-icon::before {
        content: "";
    }

    .burger-icon::before {
        bottom: 0;
        transition: all 0.7s;
    }

    .burger-icon::after {
        top: 0;
        transition: all 0.7s;
    }

    .burger-icon .burger__icon-stripe,
    .burger-icon::after,
    .burger-icon::before {
        left: 0%;
        position: absolute;
        height: 5px;
        width: 100%;
        border-radius: 10%/100%;
        background-color: var(--color-lighter);
    }

    .check-menu:checked~.burger-icon .burger__icon-stripe {
        visibility: hidden;
        opacity: 0;
        transform: scale(0);
        transition: all 0.8s linear;
    }

    .check-menu:checked~.burger-icon::before,
    .check-menu:checked~.burger-icon::after {
        /* background: var(--color-main-whiter); */
        left: 5%;
    }

    :root {
        --index-pozition-stripe: 38%;
    }

    .check-menu:checked~.burger-icon::before {
        /* нижняя */
        bottom: var(--index-pozition-stripe);
        transform: rotate(-45deg) translate(0px, -50%);
        transition: all 0.7s;
    }

    .check-menu:checked~.burger-icon::after {
        top: var(--index-pozition-stripe);
        transform: rotate(45deg) translate(0px, 50%);
        transition: all 0.7s;
    }

}

@media screen and (max-width: 700px) {
    .burger-block {
        position: fixed !important;
        top: 20px !important;
    }

    .menu-items {
        padding-top: 80px;
        font-size: clamp(18px, 12.1053px + 1.8421vi, 25px);
    }

    .menu-item {
        margin: 10px 0%;
    }

}

@media screen and (max-width: 500px) {
    .burger-block {
        align-self: center;
    }
}

/*burger end*/

/* *,
*::before,
*::after {
    border: 5px solid red;
}  */